@import "variables.css";
@import "animations.css";

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.test {
  border: 1px solid blue;
}

#app {
  height: 40rem;
  width: 50rem;
}

#backdrop {
  height: 34rem;
  width: 50rem;
}

.sky {
  background-color: var(--sky);
  height: 15rem;
  width: 100%;
}

.ground {
  position: relative;
  background-color: var(--ground);
  height: 19rem;
  width: 100%;
  z-index: 2;
}

.road-h {
  position: absolute;
  bottom: 2.5rem;
  background-color: var(--road);
  width: 100%;
  height: 6rem;
}

.road-v {
  position: absolute;
  left: 15rem;
  height: 16rem;
  width: 6rem;
  fill: var(--road);
}

.divider-h {
  width: 100%;
  border: 1px solid var(--divider);
  position: absolute;
  top: 50%;
}

.divider-v {
  height: 100%;
  border: 1px solid var(--divider);
  position: absolute;
  left: 50%;
}

.intersection {
  height: 6rem;
  width: 6rem;
  background-color: var(--road);
  position: absolute;
  bottom: 2.5rem;
  left: 15.25rem;
}

.pole-bottom {
  width: 0.5rem;
  background-color: var(--dark);
  height: 3rem;
}

.pole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  left: 12.5rem;
}

.sun {
  width: 4rem;
  height: 4rem;
  background-color: var(--divider);
  border-radius: 50%;
  position: absolute;
  top: 6rem;
  right: 16rem;
}
