@import "variables.css";

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.test {
  border: 1px solid blue;
}

#app {
  height: 500px;
  width: 750px;
  overflow: hidden;
}

#backdrop {
  position: relative;
  height: 500px;
  width: 750px;
}

.sky {
  background-color: var(--sky);
  height: 200px;
  width: 100%;
}

.ground {
  position: relative;
  background-color: var(--ground);
  height: 300px;
  width: 100%;
  z-index: 2;
}

.road-h {
  bottom: 40px;
  background-color: var(--road);
  height: 100px;
  position: absolute;
  width: 100%;
}

.road-v {
  position: absolute;
  left: 250px;
  height: 200px;
  width: 100px;
  fill: var(--road);
}

.divider-h {
  width: 100%;
  border: 1px solid var(--divider);
  position: absolute;
  top: 50%;
}

.divider-v {
  height: 100%;
  border: 1px solid var(--divider);
  position: absolute;
  left: 50%;
}

.intersection {
  height: 100px;
  width: 100px;
  background-color: var(--road);
  position: absolute;
  bottom: 40px;
  left: 250px;
}

.pole-bottom {
  width: 8px;
  background-color: var(--dark);
  height: 48px;
}

.pole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 200px;
}

.sun {
  width: 60px;
  height: 60px;
  background-color: var(--divider);
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 200px;
}

.car {
  position: absolute;
  width: 90px;
  height: 46px;
  z-index: 2;
}
