@import "variables.css";

/**************************************
* TAGS
*/

* {
  user-select: none;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
}

/**************************************
* IDS
*/

#view {
  position: relative;
  height: 500px;
  width: var(--app-width);
  overflow: hidden;
}

#backdrop {
  position: relative;
  height: 500px;
  width: var(--app-width);
}

#buttons {
  box-sizing: border-box;
  display: flex;
  height: 50px;
  padding-left: 4px;
  position: relative;
  line-height: 40px;
}

#buttons-wrapper {
  background-color: blanchedalmond;
  border-bottom: 2px solid #9b9b9b;
  border-left: 2px solid #9b9b9b;
  border-right: 2px solid #9b9b9b;
  box-sizing: border-box;
  height: 50px;
  padding-left: 4px;
  position: relative;
  width: var(--app-width);
}

#init {
  border-color: var(--border-out);
  display: block;
  padding: 5px;
  translate: -50%;
  width: 160px;
  position: absolute;
  top: 1px;
  left: 50%;
}

/**************************************
* BUTTONS
*/

.btn {
  border: 2px solid #848484;
  border-radius: 2px;
  background-color: var(--btn);
  height: 40px;
  margin: 4px 2px 0;
  width: 80px;
  padding: 0;
}

.btn-car {
  background-size: contain;
  height: 92%;
  margin: auto;
  width: 92%;
}

.btn-info {
  right: 4px;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  background-color: var(--btn-info);
  border-color: var(--border-out);
  opacity: 0.8;
  position: absolute;
}

.slow {
  background-image: url(../assets/bug.png);
}
.medium {
  background-image: url(../assets/taxi.png);
}
.fast {
  background-image: url(../assets/coupe.png);
}

.btn:active {
  filter: brightness(0.9);
}

.btn:disabled {
  background-color: #cccccc;
  opacity: 0.8;
  filter: brightness(0.8);
}

.grn {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

/**************************************
* GAME
*/

.view {
  filter: brightness(0.3);
}

.sky {
  background-color: var(--sky);
  height: 200px;
  width: 100%;
}

.ground {
  position: relative;
  background-color: var(--ground);
  height: 300px;
  width: 100%;
  z-index: 2;
}

.road-h {
  bottom: 40px;
  background-color: var(--road);
  height: 100px;
  position: absolute;
  width: 100%;
}

.road-v {
  position: absolute;
  left: 250px;
  height: 200px;
  width: 100px;
  fill: var(--road);
}

.spawn-marker {
  height: 49px;
  position: absolute;
  width: 20px;
  right: -20px;
  z-index: 3;
}

.spawn-auto {
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(44 236 211));
}

.spawn-user {
  background: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(255 110 110));
}

.spawn-1 {
  top: 1px;
}

.spawn-2 {
  top: 51px;
}

.divider-h {
  width: 100%;
  border: 1px solid var(--divider);
  position: absolute;
  top: 50%;
}

.divider-v {
  height: 100%;
  border: 1px solid var(--divider);
  position: absolute;
  left: 50%;
}

.intersection {
  height: 100px;
  width: 100px;
  background-color: var(--road);
  position: absolute;
  bottom: 40px;
  left: 250px;
}

.pole-bottom {
  width: 8px;
  background-color: var(--dark);
  height: 48px;
}

.pole-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 200px;
}

.sun {
  width: 48px;
  height: 48px;
  background-color: var(--sun);
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 200px;
}

.cloud {
  background-image: url(../assets/cloud.svg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 480px;
  height: 60px;
  position: absolute;
  top: 55px;
  width: 95px;
  z-index: 1;
}

.cloud-1 {
  height: 60px;
  width: 95px;
  top: 55px;
  left: 480px;
}
.cloud-2 {
  height: 36px;
  width: 57px;
  top: 110px;
  left: 800px;
}

.skyline {
  background-image: url(../assets/skyline.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 79px;
  left: 326px;
  opacity: 0.76;
  position: absolute;
  top: 127px;
  width: 173px;
}

.car {
  position: absolute;
  width: 90px;
  height: 46px;
  z-index: 2;
}

/**************************************
* MODAL
*/

#modal {
  border-radius: 5px;
  border: 2px solid var(--border-out);
  position: absolute;
  left: 50%;
  top: calc(50% - 20px);
  transform: translate(-50%, -50%);

  width: 550px;
  height: 450px;
  z-index: 2;
}

.modal {
  visibility: inherit;
}

.border {
  box-sizing: border-box;
  border: 8px solid var(--border-in);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.content {
  box-sizing: border-box;
  background-color: var(--modal);
  border: 2px solid var(--border-out);
  border-radius: 2px;
  font-size: 14px;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}

/**************************************
* HIDDEN
*/

.hidden {
  visibility: hidden;
}

/**************************************
* ANIMATIONS
*/

.on {
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-name: brighten;
  filter: brightness(1);
}

@keyframes brighten {
  from {
    filter: brightness(0.3);
  }

  to {
    filter: brightness(1);
  }
}

.on .sun {
  animation-duration: 2.6s;
  animation-iteration-count: 1;
  animation-name: rise;
}

@keyframes rise {
  from {
    top: 170px;
    right: 275px;
  }

  to {
    top: 30px;
    right: 200px;
  }
}

.cloud {
  animation: 160s linear infinite cloud;
}

@keyframes cloud {
  0% {
    translate: 0 0;
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  96% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    translate: -500px 0;
  }
}

.spawn-auto {
  animation-duration: 1.6s;
  animation-iteration-count: 1;
  animation-name: waffle;
}

.spawn-user {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: waffle;
}

@keyframes waffle {
  0% {
    translate: 0 0;
  }

  50% {
    translate: -20px 0px;
  }

  100% {
    translate: 0 0;
  }
}
